@charset 'UTF-8';
/* Base
------------------------------------------------------------*/
html
{
    font-size: 100%;
}

body
{
    font-family: 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    
    color: #4c4c4c;
    background-color: #fdfcf6;
}

a
{
    text-decoration: none;
    color: #fdfcf6;
    display:block;
}

/* Align
------------------------------------------------------------*/
.text-center
{
    text-align: center;
}

/* Header
------------------------------------------------------------*/
.catche {
    background-image: url("./images/ed28a06df2a29fe39f63fe8b1a116c5b_m.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 768px) {
 .catche {
    height: 250px;
  }
}

/* Contents
------------------------------------------------------------*/
section
{
    padding: 20px 0;
}
section .container
{
    width: 100%;
}
#pickup
{
    background-color: #bea300;
}
#pickup h3
{
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #fdfcf6;
}

#pickup .container
{
    display: -webkit-flex;
    display:         flex;
    flex-direction: row;
    
    justify-content: space-between;
}
#pickup .pickup-box
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    flex: 1;
    margin: 10px 10px;
    padding: 5px;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #fdfcf6;
    
}

#pickup .pickup-box #gourmet
{
    background-image: url("./images/424367187b2c0e9f301436d89bb30ac0_s.jpg");
    background-size: cover;
    background-position: center center;
    opacity: 0.9;
}

#pickup .pickup-box #architecture
{
    background-image: url("./images/d0bb2a8e8153fad8b68853a4fa963043_s.jpg");
    background-size: cover;
    background-position: center center;
    opacity: 0.9;
}

#pickup .pickup-box #entertainment
{
    background-image: url("./images/7c2b479fbb33de05c27228028dfd4462_s.jpg");
    background-size: cover;
    background-position: center center;
    opacity: 0.9;
}

@media (max-width: 768px) {
 #pickup .container {
    flex-direction: column;
  }
}

#pickup .pickup-box h3
{
    font-size: 1.3rem;
    font-weight: bold;
    
    margin-bottom: 10px;
    
    color: #fdfcf6;
}

#go
{
    margin-top: 20px;
}
#go .button
{
    font-size: 1rem;
    font-weight: bold;
    
    display: block;
    
    width: 250px;
    margin: auto;
    padding: 5px 0;
    
    text-align: center;
    
    color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #214602;
}